<h1>All Contacts</h1>
  <ul>
    <% @@rolodex.contacts.each do |contact| %>  
    <p> ID#: <%= contact.id %> </p>
    <p> First: <%= contact.first_name.capitalize %> </p>
    <p> Last: <%= contact.last_name.capitalize %> </p>
    <p> Email: <%= contact.email %> </p>
    <p> Notes: <%= contact.notes %> </p>
    </br>
    <% end %>
  </ul>
<a href="/">Back to Main Menu</a>