<div id = 'main_container'>
  
  <h1>All Contacts</h1>
  
    <div id = 'sub_container'>
      <ul>
        <% @@rolodex.contacts.each do |contact| %>  
        <li> ID#: <%= contact.id %> </li>
        <li> First: <%= contact.first_name.capitalize %> </li>
        <li> Last: <%= contact.last_name.capitalize %> </li>
        <li> Email: <%= contact.email %> </li>
        <li> Notes: <%= contact.notes %> </li>
        </br>
        <% end %>
      </ul> 
      <p><a href="/">Back to Main Menu</a></p>
    </div>        

</div>