<div id = 'main_container'>

<h1>Contact Info</h1> 
  <div id = 'sub_container'>
    <ul>
      <li> ID#: <%= @contact.id %></a></li>
      <li> Name: <%= @contact.first_name %> <%= @contact.last_name %></li>
      <li> Email: <%= @contact.email %></li>
      <li> Notes: <%= @contact.notes %></li>
    </ul>
    </br>
     
      <form action="/contacts/<%= @contact.id %>" method="post"/>
        <div id ='delete_btn'>
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" name="Delete Contact" value="Delete Contact"/>
        </div>    
      </form>
    </br>
    
    <p><a href="/contacts/<%= @contact.id %>/modify">Modify an Existing Contact</a></p>
    <p><a href="/">Back to Main Menu</a></p>
  </div>
</div>
